
body { /* Static */
    background-color:grey;
    background: url("images/bg.png") 100%, 100%;
    -webkit-font-smoothing: antialiased;
}
#titleDiv {
    background-image: url("images/navbg.jpg") ;
    background-size: contain;                
}
h1{ /* Static */
    font-size: calc(15px + 2vw);
    color: white;
    margin: 1% 2% 1% 2%;
    font-family: Black ops one;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
h2{ /* Static */
    margin: 0px 0px 10px 0px;
    font-size: calc(20 + 3vw);
    font-family: black ops one;
    text-align: center;                
}
.nav-tabs{ /* Static - used as jquery selctor*/
    background-color: rgba(1,1,1,0.7);
                    
}
.nav>li>a { /* Static */
    text-decoration: none;
    color: white;
    font-family: play
}
.nav>li>a:hover{ /* Static */
    color:black;
    border-radius: 0px
}
.active{ 
    border-radius: 0px
}
.hDiv { /* Static */
    background-color: lightgray;
    height: 10px;
}
.navbar{ /* Static */
    Margin: 0% 0% 0% 0%; 
    padding: 0px 0% 0% 0%;
    font-size: calc(5px + 1vw);
    border-width: 0px;                               
}
#hpcontent{ /* Static */
    margin: 2% auto 1% auto;
    padding: 10px 0px 0px 0px;
    max-width: 70%;
    box-shadow: 30px 30px 20px rgba(1,1,1,0.7)              
}
.hpclass>embeded{ /* Static */
    font-family: play;
    font-weight: bold;
}
.mainSec { /* Static */
    margin: 2% 5% 0% 5%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px
}
#contact.mainSec{
    width: 50%;
    margin: 2% auto 0% auto;
    margin-bottom: 20%;
    padding-top: 2%
}
.sideNav{ /* Static */
    padding: 5px 5px 100% 5px;
    margin: auto;
}
.btn.btn-block { /* Static */
    font-family: play;
    font-size: calc(5px + 1vw);
    border:0px;
}
.btn:focus{ 
    outline: none;
    background-color: black;
    color: white
}
button:hover {
    color: white; 
    background-color:slategrey                              
}
partNameDiv{
    margin: 1% 0 1% 0;
}
.partName{
    font-size: 24px;
    font-weight: bold;                
}
div.well>div.row{
    margin: 10px 0px 0px 0px
}
.menuBadge{
    vertical-align: middle;
    margin-bottom: 0.75em;
    margin-right: 5px;
    height: 30px;
}

.imgCont {
    border: 2px solid black;
    border-radius: 2%;
    margin: 0% auto 0% auto;
    box-shadow: 5px 5px 5px grey
}
#TopBoxPannierParts{ /* Static and dynamic*/
    padding: 1% 0 1% 0%;
}
#bikeParts{
    padding: 1% 0 1% 0%;
}
#Parts4x4{
    padding: 1% 0 1% 0%
}
.partImage {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.partImage:hover{
    -webkit-transform:scale(2.0); /* Safari and Chrome */
    -moz-transform:scale(2.0); /* Firefox */
    -ms-transform:scale(2.0); /* IE 9 */
    -o-transform:scale(2.0); /* Opera */
    transform:scale(2.0);
}
.dataType {
    font-weight: bold;
    text-align: right;
    padding: 2.5px 5px 2.5px 2.5px;            
}
.table {
    display: block;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px
}
table{
    margin: 0px auto 0px auto;
}
.well{
    margin: 0px 5% 5% 5%;
    padding: 1% 40px 20px 40px;
    background-image: url("");
    border-radius: 10px;                
}
form{
    width: 70%;
    margin: auto;
    padding-bottom: 3%
}
