.badgeBtnCont {
    border: 1px solid white;
    background-color: rgba(4, 0, 255, 0.5);
    color: white;
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    transform: translateY(-50%)
}

.btnCol {
    height: 20vh;
}

.badgeBtn {
    height: 100%
}

.badgeImg {
    height: 100%
}