.lpCarousel {
    height: 58%;
    margin-top: 1%;
    overflow: hidden;
    border-radius: 50px;
    background-color: chocolate;
}

.slickCarousel {
    background-color: blue;
    position: relative;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70% !important;
    transform: translate(-50%, -50%);
}

.slickSlide {
    background-color: aquamarine;
    width: 100%;
    height: auto;
}

.slickSlide>img {
    height: 100%;
    width: auto;
}

h3 {
    position: relative;
    top: 50%;
    left: 50%;
}