.contactView {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

.contactViewHeading {
    font-size: 30px;
    font-family: orbitron;
    color: white;
    margin-left: 1%;
}


/* MOBILE VIEW */

.divline1 {
    border: 0.5px solid white;
    margin: 0 1% 0.5% 1%;
}

.divline2 {
    border: 0.5px solid white;
    margin: 5px 5px 5px 5px;
}

.aboutContainer {
    height: 89%;
}

.aboutContainer2 {
    height: 100%;
}

.aboutTheOwner {
    height: 100%;
}

.ownerHeading {
    color: white;
    font-family: black Ops one;
}

.tqH3 {
    color: white;
    font-family: orbitron;
}

.cardOwnerDesc {
    height: 25%;
    overflow: scroll;
}

.aboutMore {
    height: 100%;
}

.moreInfoAboutM {
    display: none;
    color: white;
    font-family: Black Ops One;
}

.theBusiness {
    height: 33%;
    overflow: hidden;
}

.theBussHeadings {
    position: relative;
    overflow: scroll;
    top: 50%;
    transform: translateY(-50%);
}

.scrSpyCard {
    height: 100%;
}

.itemsAboutTheBusiness {
    overflow: scroll;
}

.testimonial {
    height: 30%;
}

.testimonialContainer {
    height: 100%;
    overflow: hidden;
}

.testimonials {
    overflow: scroll;
}

.testimonialHeading {
    overflow: scroll;
}

.feedback {
    height: 33%;
    overflow-wrap: break-word
}

.feedbackTitle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.formFeedback {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width:414px) {
    .aboutTheOwner {
        height: 80%;
    }
    .aboutMore {
        height: auto;
    }
    .cardOwnerDesc {
        height: 20%;
    }
    .scrSpyCard {
        height: 100%;
    }
    .testimonialContainer {
        height: 90%;
    }
    .moreInfoAboutM {
        display: block;
    }
    .feedback>.col-sm-3 {
        height: auto;
    }
    .theBusinessCol {
        display: none;
    }
}