/* Framework css*/

body {
    background-color: rgba(128, 128, 128, 0.589)
}

.boxYellow {
    background-color: rgba(255, 255, 0, 0.507);
    min-width: 100%;
    height: 28%;
    margin-top: 1%;
}

.boxGreen {
    background-color: rgba(0, 128, 0, 0.507);
    min-width: 100%;
    height: 8%;
    margin-top: 1%;
}

.boxGrey {
    border: solid 1px grey;
    background-color: rgba(128, 128, 128, 0.452);
}

.boxOrange {
    background-color: rgba(255, 166, 0, 0.514);
    border: solid 5px orange;
}

.boxPurple {
    background-color: rgba(128, 0, 128, 0.486);
    border: solid 5px purple;
}

.boxTrans {
    width: 50%;
    height: 100%;
}

.buffer {
    height: 1%;
    background-color: silver;
}


/*--------------------------*/


/*Adjusting some bootstrap css*/

.container {
    padding: 0px !important;
}

.row {
    margin: 0px !important;
}


/*--------------------------*/


/* MAIN DISPLAY SECTION */


/*--------------------------*/

.addsRail {
    width: 100%;
    height: 100%;
    min-height: 100%;
}


/* catelogue */