/* Framework css*/

body {
    background-color: rgba(128, 128, 128, 0.589)
}

.se-pre-con {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../image/preLoader_3.gif') center no-repeat #fff;
}

span.fa {
    border: 2px solid transparent
}

.boxGreen {
    background-color: rgba(0, 128, 0, 0.507);
    min-width: 100%;
    height: 8%;
    margin-top: 1%;
}

.boxOrange {
    background-color: rgba(255, 166, 0, 0.5);
}

.boxPurple {
    background-color: rgba(128, 0, 128, 0.5);
}

.boxTeal {
    background-color: rgba(0, 128, 128, 0.5)
}

.boxBlack {
    border: 1px solid white;
    background-color: rgba(4, 0, 255, 0.5);
    color: white;
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    transform: translateY(-50%)
}


/*--------------------------*/


/*Adjusting some bootstrap css*/

.container {
    padding: 0px !important;
}

.row {
    margin: 0px !important;
}


/*--------------------------*/


/* MAIN DISPLAY SECTION */


/*--------------------------*/


/* catelogue */