/* Framework css*/

.boxRed {
    border: solid 5px red;
    background-color: rgba(255, 0, 0, 0.514);
}

.boxBlue {
    background-color: rgba(0, 0, 255, 0.507);
    border: solid 5px blue;
    height: 60%;
    min-width: 100%;
}

.boxYellow {
    background-color: rgba(255, 255, 0, 0.507);
    min-width: 100%;
    height: 30%
}

.boxGreen {
    border: solid 5px green;
    background-color: rgba(0, 128, 0, 0.507);
    min-width: 100%;
    height: 10%;
}

.boxGrey {
    border: solid 1px grey;
    background-color: rgba(128, 128, 128, 0.452);
}

.boxOrange {
    background-color: rgba(255, 166, 0, 0.514);
    border: solid 5px orange;
}

.boxPurple {
    background-color: rgba(128, 0, 128, 0.486);
    border: solid 5px purple;
}

.boxTrans {
    width: 50%;
    height: 100%;
}

.buffer {
    height: 1%;
    color: silver;
}


/*--------------------------*/


/*Adjusting some bootstrap css*/

.container {
    padding: 0px !important;
}

.row {
    margin: 0px !important;
}


/*--------------------------*/


/*NAV BAR*/

#navTop {
    height: auto;
}


/* MAIN DISPLAY SECTION */

.lp {
    position: absolute;
    min-width: 100%;
}


/*--------------------------*/

.addsRail {
    width: 100%;
    height: 100%;
    min-height: 100%;
}


/* catelogue */

@media (max-width: 576px) {
    .sideNav {}
}