/*NAV BAR*/

#navTop {
    background-color: rgba(255, 0, 0, 0.514);
    margin-top: 1%;
    border-radius: 24px;
}

#navTop>.nav-item.active {
    font-weight: bold;
    border-radius: 0px !important;
}

#navTop>.nav-item:hover {
    background-color: #F10032;
    color: white;
    font-weight: bold;
    border-radius: 0px !important;
}

.navbar-brand {
    font-family: black ops one;
    margin-left: 1% !important;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.input-group-text.bg-secondary {
    border-radius: 24px;
}

.nav>.form-inline>.form-control {
    border: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.nav>.form-inline>.input-group-append>.btn {
    border: 0px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.dropdown {
    color: white !important;
    font-family: Play;
    font-size: 25px;
    width: 100%;
    text-align: center;
}

navbarSupportedContent {
    color: white;
}

.nav-item.dropdown:hover {
    background-color: #F10032;
    color: white;
    font-weight: bold;
    border-radius: 24px !important;
}

.nav-item.dropdown.active {
    background-color: blue !important;
    border-radius: 24px !important;
    color: white;
    font-weight: bold;
}