/*NAV BAR*/

#navTop {
    background-color: rgba(255, 0, 0, 0.514);
    margin-top: 1%;
    border-radius: 24px;
}

.navbar-brand {
    font-family: black ops one;
    margin-left: 1% !important;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.input-group-text.bg-secondary {
    border-radius: 24px;
}

.logoOuter {
    padding: auto 0px auto 0px;
    background-color: red;
    border: solid 2px black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logoInner {
    position: relative;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0px;
    color: white;
}

.brandName {
    display: inline-block;
    margin: 0px;
}