#navBottom {
    border-radius: 24px !important;
    min-width: 100%;
    height: 10%;
    margin-top: 1%;
}

@media screen and (max-width: 414px) {
    #navBottom {
        overflow: scroll;
        border-radius: 0px !important;
    }
    .social {
        font-size: math(1.5vw + 5);
    }
}

.makes {
    width: 50%;
}

.social {
    width: 50%;
    font-size: 1.5vw;
}

.social>a {
    margin-right: 2%;
}

.social>a:hover {
    color: #076BFF !important;
}

.navBadge {
    margin-right: 2%;
    display: inline-flex;
    height: 2.5vh;
}