.pvContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}

.boxOrange {
    background-color: rgba(255, 166, 0, 0.5);
    position: unset;
}

.pvMiddleSection {
    background-color: rgba(128, 0, 128, 0.5);
    position: relative;
    max-height: 100%;
    /*overflow: scroll;
    overflow: -moz-scroll;
    overflow: -webkit-scroll;*/
    overflow-y: scroll;
    overflow-x: hidden;
}

.list-group-item {
    padding: 0.75rem 0 0.75rem 0;
}

.boxTeal {
    background-color: rgba(0, 128, 128, 0.5);
}

.pvHeader {
    font-weight: bold;
}

.partslistheader {
    position: sticky !important;
    top: 0px;
    z-index: 1000;
}