/* Middle section */

.pvContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}

.pvMiddleSection {
    position: relative;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 4px;
}

.list-group-item {
    padding: 0.75rem 0 0.75rem 0;
}

.boxTeal {
    background-color: rgba(0, 128, 128, 0.5);
}

.pvHeader {
    font-weight: bold;
}

.partslistheader {
    position: sticky !important;
    top: 0px;
    z-index: 1000;
}


/* left section */

.filterButtonCont {
    /* background-color: rgba(255, 166, 0, 0.5); */
    position: sticky;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.backBtn {
    position: sticky !important;
    top: 184px;
    margin-bottom: 10px;
}

.defFilter {
    position: sticky !important;
    top: 0px;
    z-index: 1000;
}

.filterIcon {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.filterOptions {
    width: 100%;
}

.filterOptions>div {
    width: 100%;
}


/* Right section */