.pvContainer {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    left: 0;
}

.boxOrange {
    background-color: rgba(255, 166, 0, 0.5);
    position: unset;
    padding: 0 !important;
}

.boxPurple {
    background-color: rgba(128, 0, 128, 0.5);
    /*overflow: scroll;
    overflow: -moz-scroll;
    overflow: -webkit-scroll;*/
    padding: 0 !important;
}

.boxTeal {
    background-color: rgba(0, 128, 128, 0.5);
    padding: 0 !important;
}

.partsView {}

.partsViewRow {}

button.list-group-item:hover {
    background-color: #464A4E !important;
    color: white !important;
}

.pvHeader {
    font-weight: bold;
}

.pvHeaderCont {
    /*position: sticky;
    top: 0px;
    z-index: 1000;*/
}