/* Middle section */

.pvContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}

.pvMiddleSection {
    position: relative;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 4px;
}

.list-group-item {
    padding: 0.75rem 0 0.75rem 0;
}

.pvHeader {
    font-weight: bold;
}

.partsListHeader {
    position: sticky !important;
    top: 0px;
    z-index: 600;
}

.accordian {
    border-radius: 4px !important;
}

.partsListingD {
    border-radius: 0 !important;
}


/* mobile css */

.partListingM {
    width: 96%;
    margin: 2% 2% 2% 2%;
}


/* --PART COLLAPSING LOADING OVERLAY--*/

.card-header {
    z-index: 500;
}

.se-pre-con-1 {
    position: none;
    /*
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: url('../image/Preloader_4.gif') center no-repeat #fff;*/
}

.imgCont {
    overflow: visible;
}

.partImg {
    position: relative;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid black;
}

.partImg:hover {
    position: relative;
    width: 100%;
    height: auto;
    top: 50%;
}

.moreOptions {
    margin-top: 5px !important;
}


/* left section */

.filterButtonCont {
    /* background-color: rgba(255, 166, 0, 0.5); */
    position: sticky;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.backBtn {
    position: sticky !important;
    top: 184px;
    margin-bottom: 10px;
}

.selectionHeading {
    font-family: Orbitron;
    color: white;
    margin: 0 0 1vh 0;
}

.selectedImg {
    width: 50%;
    margin: 0 0 1vh 0;
    border-radius: 4px;
}

.defFilter {
    position: sticky !important;
    top: 0px;
    z-index: 700;
}

.filterIcon {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.filterOptions {
    width: 100%;
}

.filterOptions>div {
    width: 100%;
}


/* Right section */

.boxTeal {
    background-color: rgba(0, 128, 128, 0.5);
}